.buy_now_btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .allproducts {
    overflow: hidden !important;
    height: 100%;
  }
  .proctn {
    overflow: hidden !important;
    height: 100%;
  }

  .postbtn button {
    padding: 2px 12px !important;
    font-size: 16px !important;
    color: white !important;
    font-weight: lighter !important;
    border-radius: 5px !important;
    margin: 0 !important;
  }
  .nn_productimg .inner img,
  .addproduct .addprosection .make_money img {
    height: 150px !important;
  }
  .inner .freeproduct {
    top: 0 !important;
    left: 0 !important;
  }
  .inner .freeproduct div {
    font-size: 16px !important;
    color: white !important;
    font-weight: lighter !important;
  }

  .addprosection .make_money,
  .addprosection {
    height: 150px !important;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  .postbtn {
    position: absolute !important;
    bottom: 0;
    left: 10px;
    padding-left: 0 !important;
    width: 100%;
    margin: 0 !important;
  }
  .buy_now_btn {
    display: block;
    padding: 2px 12px;
    border-radius: 5px;
    bottom: 0;
    left: 10px;
    color: white;
  }
}
